.lista{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.contenedorRutinas{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 18%;
    padding-right: 16%;

}

.contenedorRutina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 300px;
    height: 200px;

    outline: 2px solid black;
    background-color: #444444;

    border-radius: 10px;
}

.contenedorRutinas, p{

}

.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contenido{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 90px;
}

p{
    color: #e0e0e0;
}

.contenedor{
    outline: 2px solid #444444;
    border-radius: 20px;
    padding: 5px;
    background-color: #5e8cf7;
    color: #e0e0e0;
    text-decoration: none;
}

h2{
    color: #5e8cf7;
}