<div class="contenedorFormulario">
    <h2>Registrar Nueva Rutina</h2>

    <form [formGroup]="form">

        <fieldset>
            <label for="costomer">Nombre del Cliente</label>
            <input type="text" id="costumer" placeholder="Ingrese un nombre" formControlName="customer" class="input">

            @if (costumer.touched && costumer.invalid) {
                <span class="mensajeError">El nombre es requerido</span>
            }
        </fieldset>

        <fieldset>
            <label for="type">Tipo de entrenamiento</label>
            <select  id="type" formControlName="type" class="input">
                <option value="" disabled selected>Ingrese una opcion</option>
    
                @for (tipo of tipos; track $index) {
                    <option [value]="tipo"> {{tipo}} </option>
                }
            </select>
        </fieldset>

        <fieldset>
            <label for="duration">Duracion</label>
            <input type="number" id="duration" placeholder="Ingrese una duracion" formControlName="duration" class="input">
        </fieldset>

        <fieldset>
            <label for="skillLevel">Nivel de entrenamiento</label>
            <input type="text" id="skillLevel" placeholder="Ingrese nivel de entrenamiento" formControlName="skillLevel" class="input">
        </fieldset>

        <fieldset>
            <label for="isGroupSession">Group Sesion</label>
            <input type="checkbox" id="isGroupSession" placeholder="Ingrese el group sesion" formControlName="isGroupSession" class="checkbox">
        </fieldset>

        <fieldset>
            <label for="notes">Notas</label>
            <textarea id="notes" class="input" formControlName="notes"></textarea>
        </fieldset>
        
        <div class="contBotones">
            <button type="submit" [disabled]="form.invalid" (click)="handleSubmit()"> {{ editando() ? "Editar" : "Agregar"}} </button>
            <button [disabled]="form.pristine" (click)="handleBorrar()" >Borrar</button>
        </div>

    </form>
</div>