nav{
    height: 100%;
    background-color: #2a2a2a;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

div, p{
    color: #5e8cf7;
    margin: 10px;
}

.botonHeader{
    text-decoration: none;
    color: white;
    outline: 2px solid white;
    padding: 10px;
    border-radius: 15px;
}

.derecha, a{
    margin: 10px;
}