/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

:root {
    --background-color: #1c1c1c;
    --background-alt-color: #2a2a2a;
    --background-card-color: #3c3c3c;
    --border-color: #444444;
    --font-color: #e0e0e0;
    --font-alt-color: #a0a0a0;
    --accent-color: #5e8cf7;
}

html{
    height: 100%;
}

body{
    height: 100%;
}